{% extends 'base.html.twig' %}

{% block title %}Chercher un article{% endblock %}

{% block body %}
    <h1>Chercher un article</h1>

    {{ form_start(form) }}
        {{ form_widget(form.query) }}
        <button type="submit">Rechercher</button>
    {{ form_end(form) }}
   
    {% if articles is defined %}
    <h2>Mon résultat de recherche</h2>
        <ul>
    
            {% for article in articles %}
                <li>
                    <a href="{{ path('article_show', {'id': article.id}) }}">
                    {{ article.title }}
                    </a>
                </li>
            {% else %}
                <li>Aucun article trouvé.</li>
            {% endfor %}
        </ul>
    {% endif %}

    
{% endblock %}
